body {
    font-family: Arial, sans-serif;
}
header {
background-color: #666;
padding: 30px;
text-align: center;
font-size: 35px;
color: white;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: 100%;
    }
}
.center {
    text-align: center;
    align-items: center;
}
button {
    padding: 10px 20px;
    font-size: 10px;
}